@model Aastha.Data.Models.Student
<h3>Edit</h3>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email_Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email_Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Mobile_No)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Mobile_No)
    </dd>

</dl>